<?xml version="1.0"?>
<DataPackage xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BigMarker>DDR2</BigMarker>
  <DeviceTypes>Scanner</DeviceTypes>
  <ModuleID>18000</ModuleID>
  <Version>4.8.32.57</Version>
  <IsSupportFromScratch>false</IsSupportFromScratch>
  <StepType>0</StepType>
  <CreatePackageTime>2024-06-21 13:57:02</CreatePackageTime>
  <BeforeStartCmd />
  <EndSendCmd>
    <CommandConfig>
      <CmdName>ScannerMCURestart</CmdName>
      <IsCommonCmd>true</IsCommonCmd>
      <Data>0</Data>
      <Address>16777344</Address>
      <WaitTime>11000</WaitTime>
      <TimeOut>3000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>0</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>ScannerFPGARestart</CmdName>
      <IsCommonCmd>true</IsCommonCmd>
      <Data>0</Data>
      <Address>16777227</Address>
      <WaitTime>9000</WaitTime>
      <TimeOut>3000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>0</SpecialPackID>
    </CommandConfig>
  </EndSendCmd>
  <FileInfo>
    <IsSupportBroadcast>true</IsSupportBroadcast>
    <IsMCUFile>true</IsMCUFile>
    <FileLabel>MCU</FileLabel>
    <Version>4.8.20.39</Version>
    <Remark>2023.12.08 MRV412_MCU_V1.8.0.6.ghc</Remark>
    <Address>150994944</Address>
    <FileName>MRV412_MCU_V1.8.0.6_nda.dat</FileName>
    <ExtendNum>0</ExtendNum>
    <IsFileAddrNoIncrease>false</IsFileAddrNoIncrease>
    <CommandConfig>
      <CmdName>StartSpecialPack</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>0</Address>
      <WaitTime>200</WaitTime>
      <TimeOut>65535</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>SendFileData</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>150994944</Address>
      <WaitTime>0</WaitTime>
      <TimeOut>10000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>ScannerMCUSave</CmdName>
      <IsCommonCmd>true</IsCommonCmd>
      <Data>80-70</Data>
      <Address>16777346</Address>
      <WaitTime>3000</WaitTime>
      <TimeOut>3000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>EndSpecialPack</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>0</Address>
      <WaitTime>200</WaitTime>
      <TimeOut>6000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
  </FileInfo>
  <FileInfo>
    <IsSupportBroadcast>true</IsSupportBroadcast>
    <IsMCUFile>false</IsMCUFile>
    <FileLabel>FPGA</FileLabel>
    <Version>4.8.20.39</Version>
    <Remark>2024.06.21 MRV412_FPGA_V4.8.0.59</Remark>
    <Address>134217728</Address>
    <FileName>MRV412_FPGA_V4.8.0.59.dat</FileName>
    <ExtendNum>0</ExtendNum>
    <IsFileAddrNoIncrease>false</IsFileAddrNoIncrease>
    <CommandConfig>
      <CmdName>StartSpecialPack</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>0</Address>
      <WaitTime>200</WaitTime>
      <TimeOut>65535</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>SendFileData</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>134217728</Address>
      <WaitTime>0</WaitTime>
      <TimeOut>10000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>ScannerFPGASave</CmdName>
      <IsCommonCmd>true</IsCommonCmd>
      <Data>80-70</Data>
      <Address>16777228</Address>
      <WaitTime>15000</WaitTime>
      <TimeOut>3000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>EndSpecialPack</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>0</Address>
      <WaitTime>200</WaitTime>
      <TimeOut>6000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
  </FileInfo>
  <FileInfo>
    <IsSupportBroadcast>true</IsSupportBroadcast>
    <IsMCUFile>false</IsMCUFile>
    <FileLabel>Font</FileLabel>
    <Version>4.8.20.39</Version>
    <Remark>VN</Remark>
    <Address>419430400</Address>
    <FileName>FontLib.dat</FileName>
    <ExtendNum>0</ExtendNum>
    <IsFileAddrNoIncrease>false</IsFileAddrNoIncrease>
    <CommandConfig>
      <CmdName>StartSpecialPack</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>0</Address>
      <WaitTime>200</WaitTime>
      <TimeOut>65535</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>SendFileData</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>419430400</Address>
      <WaitTime>0</WaitTime>
      <TimeOut>10000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>ScannerFontSave</CmdName>
      <IsCommonCmd>true</IsCommonCmd>
      <Data>5</Data>
      <Address>16777353</Address>
      <WaitTime>6000</WaitTime>
      <TimeOut>3000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>EndSpecialPack</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>0</Address>
      <WaitTime>200</WaitTime>
      <TimeOut>6000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
  </FileInfo>
  <FileInfo>
    <IsSupportBroadcast>true</IsSupportBroadcast>
    <IsMCUFile>false</IsMCUFile>
    <FileLabel>Table</FileLabel>
    <Version>4.8.20.39</Version>
    <Remark>0</Remark>
    <Address>536870912</Address>
    <FileName>GammaTable.dat</FileName>
    <ExtendNum>0</ExtendNum>
    <IsFileAddrNoIncrease>false</IsFileAddrNoIncrease>
    <CommandConfig>
      <CmdName>StartSpecialPack</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>0</Address>
      <WaitTime>200</WaitTime>
      <TimeOut>65535</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>SendFileData</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>536870912</Address>
      <WaitTime>0</WaitTime>
      <TimeOut>10000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>ScannerGammaTableSave</CmdName>
      <IsCommonCmd>true</IsCommonCmd>
      <Data>5</Data>
      <Address>16777378</Address>
      <WaitTime>6000</WaitTime>
      <TimeOut>3000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>EndSpecialPack</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>0</Address>
      <WaitTime>200</WaitTime>
      <TimeOut>6000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
  </FileInfo>
  <FileInfo>
    <IsSupportBroadcast>false</IsSupportBroadcast>
    <IsMCUFile>false</IsMCUFile>
    <FileLabel>FunctionTable</FileLabel>
    <Version>4.8.20.39</Version>
    <Remark>2024.06.21_MRV412_Function</Remark>
    <Address>33554976</Address>
    <FileName>Function.dat</FileName>
    <ExtendNum>0</ExtendNum>
    <IsFileAddrNoIncrease>false</IsFileAddrNoIncrease>
    <CommandConfig>
      <CmdName>SendFileData</CmdName>
      <IsCommonCmd>false</IsCommonCmd>
      <Data>0</Data>
      <Address>33554976</Address>
      <WaitTime>2000</WaitTime>
      <TimeOut>10000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
    <CommandConfig>
      <CmdName>ScannerFunctionTableSave</CmdName>
      <IsCommonCmd>true</IsCommonCmd>
      <Data>05</Data>
      <Address>16777376</Address>
      <WaitTime>2000</WaitTime>
      <TimeOut>3000</TimeOut>
      <ExecuteTimes>1</ExecuteTimes>
      <CmdFromNoneType>0</CmdFromNoneType>
      <SpecialPackID>5</SpecialPackID>
    </CommandConfig>
  </FileInfo>
</DataPackage>